<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>$title$ | $feedTitle$</title>
    <link rel="alternate" type="application/rss+xml" title="$feedTitle$" href="http://www.osteele.com/rss.xml" />

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>

  <body>

    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.osteele.com">$author$</a>
        </div>
        <nav class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Archive</a></li>
            <li><a href="https://github.com/osteele">GitHub</a></li>
            <li><a href="http://www.linkedin.com/in/osteele">LinkedIn</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <h1>$title$</h1>
      $body$
    </div>

    <footer class="footer">
      <div class="navbar navbar-static-bottom">
        <div class="navbar-inner">
          <div class="container">
            <hr/>
            <p>&copy; $author$ $copyright-range$.
              The text and illustrations on this site are available under the
              <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            <p>
              Built with <a href="http://jaspervdj.be/hakyll" target="_blank">Hakyll</a>
              and <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a>.
            </p>
          </div>
        </div>
      <div>
    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
