<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Oliver’s Historical Blog - $title$</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/tables.css" />

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://www.osteele.com">Oliver Steele</a>
          <ul class="nav">
            <li><a href="/archive">Archive</a></li>
            <li><a href="https://github.com/osteele">GitHub</a></li>
            <li><a href="http://www.linkedin.com/in/osteele">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        $body$
      </div>

      <footer>
        <p>&copy; Oliver Steele 2003 &mdash; 2012
          with help from <a href="http://jaspervdj.be/hakyll">Hakyll</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
